# Site wide configuration

title: Kristen Garofali
description:
logo: # 120x120 px default image used for Twitter summary card
teaser: # 400x250 px default teaser image used in image archive grid
locale:
url: "http://kgarofali.github.io"

# Jekyll configuration

sass:
    sass_dir: _sass
    style: compressed
    
permalink: /:categories/:title/
kramdown:
  toc_levels: 1..2
highlighter: pygments
gems:
  - jekyll-sitemap


# Site owner
owner:
  name: Kristen Garofali
  email:garofali@uw.edu
  twitter:kgarofali
  avatar:twitpic.png # 160x160 px image for author byline
footer_links:
  github: kgarofali
  twitter: kgarofali
footer-links-active:
  rss: false
  facebook: false
  email: true
  twitter: true
  github: true
  linkedin: false
  stackoverflow: false



exclude: ["lib", "config.rb", ".sass-cache", "Capfile", "config", "log", "Rakefile", "Rakefile.rb", "tmp", "*.sublime-project", "*.sublime-workspace", "Gemfile", "Gemfile.lock", "README.md", "LICENSE", "node_modules", "Gruntfile.js", "package.json"]
